*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    font-size: 3vw;
    background-image: linear-gradient(to right, rgb(114, 198, 254), rgb(243, 170, 35), black);
}


header p{
    font-size: 5vw;
}

.inner-container{
    text-align: center;
    margin: 5vw;
    margin-left: 30vw;
    margin-right: 30vw;
    background-color: rgb(51, 146, 255);
    display: grid;
    gap: 10px;
    border-radius: 10px;
    padding: 3vw;
}

.search-bar span{
    position: relative;
    top: 10px;
}

.search-bar img{
    height: 30px;
}

.search-bar img:hover{
    background-color: rgba(0, 0, 0, 0.237);
    border-radius: 5px;
}

p{
    font-size: 2vw;
    font-style: bold;
}

.search-bar input{
    height: 3vw;
    width: 20vw;
    padding-left: 10px;
    border-width: 0px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}

.search-bar input:focus{
    outline: none;
}

#temp, h1{
    font-size: 4vw;
}

::placeholder{
    color: white;
}

.footer{
    background-color: rgb(36, 41, 47) ;
    text-align: center;
    color: white;
    box-shadow: 5px -2px 8px black, -10px -4px 8px grey, -15px -2px 8px black;
}

.footer img{
    height: 4vw;
}

.flag {
    margin-left: 1vw;
    height: 3vw;
}

/* .main{
    background-repeat: no-repeat;
    background-size: cover;
} */